{{#<%= name.downcase.singularize -%>.attributes}}
  <% attributes.each_with_index do |(key, value), index| %>
  <div>
    <label><%= key %>:</label>
    <input type="text" name="<%= key %>" value="{{<%= key %>}}">
  </div>
  <% end %>
  <div>
    <input type="hidden" name="uid" value="{{uid}}">
    <input type="submit" name="submit" value="Submit">
  </div>
{{/<%= name.downcase.singularize -%>.attributes}}