<h1>Editing <%= name.downcase.singularize %></h1>

{{><%= name.downcase.pluralize %>_form}}

<a href="#/<%= name.downcase.pluralize %>/{{<%= name.downcase.singularize %>.uid}}/edit">Edit</a> | 
<a href="#/<%= name.downcase.pluralize %>">Back</a>