<% attributes.each_with_index do |(key, value), index| %>
<p>
  <b><%= key %>:</b>
  {{<%= key %>}}
</p>
<% end %>

<a href="#/<%= name.downcase.pluralize %>/{{uid}}/edit">Edit</a> | 
<a href="#/<%= name.downcase.pluralize %>">Back</a>

